{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="page" class="page">
  <section class="main bg bg1">
    <div class="layer">
      <div class="bottom-grid">
        <div class="logo">
          <h1> <a href='{% url "home" %}' style="outline: rgba(233. 94. 94. 0.5) solid 2px;
                            cursor: pointer; outline-offset: -2px;">
              <span class="fa fa-music" style="outline: none; cursor: inherit;"></span> MuPy </a></h1>
        </div>
        <div class="links">
          <ul class="links-unordered-list">
          </ul>
        </div>
      </div>
      <div class="content-w3ls transparent">
        <div class="text-center icon">
          <span class="fa fa-music" style="outline: none; cursor: inherit;"></span>
        </div>
        <div id='app_description' align='center'>
          Welcome to Musical Python. An application that generates music
          on its own with <a href='https://towardsdatascience.com/how-to-generate-music-using-a-lstm-neural-network-in-keras-68786834d4c5'>
            LSTM Recurrent Neural Networks</a>.
          Check out the Instrument List and choose one number and generate music. Wait for page to reload, then hit PLAY!
        </div><br>

        <div class="content-bottom">
          <form action="submit" method="post">
            {% csrf_token %}
            <div class="field-group editContent">
              <div class="icon-field">
                <span class="fa fa-chevron-circle-down" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
              </div>
              <div class="wthree-field">
                <select name="instrument" id="instrument" required class="styled-select">
                  <option value="" disabled selected>Select an Instrument</option>
                  <option value="1">1. Acoustic Grand Piano</option>
                  <option value="2">2. Bright Acoustic Piano</option>
                  <option value="3">3. Electric Grand Piano</option>
                  <option value="4">4. Honky-Tonk Piano</option>
                  <option value="5">5. Electric Piano 1</option>
                  <option value="6">6. Electric Piano 2</option>
                  <option value="7">7. Harpsichord</option>
                  <option value="8">8. Clavi</option>
                  <option value="9">9. Celesta</option>
                  <option value="10">10. Glockenspiel</option>
                  <option value="11">11. Music Box</option>
                  <option value="12">12. Vibraphone</option>
                  <option value="13">13. Marimba</option>
                  <option value="14">14. Xylophone</option>
                  <option value="15">15. Tubular Bells</option>
                  <option value="16">16. Dulcimer</option>
                  <option value="17">17. Drawbar Organ</option>
                  <option value="18">18. Percussive Organ</option>
                  <option value="19">19. Rock Organ</option>
                  <option value="20">20. Church Organ</option>
                  <option value="21">21. Reed Organ</option>
                  <option value="22">22. Accordion</option>
                  <option value="23">23. Harmonica</option>
                  <option value="24">24. Tango Accordion</option>
                  <option value="25">25. Acoustic Guitar (nylon)</option>
                  <option value="26">26. Acoustic Guitar (steel)</option>
                  <option value="27">27. Electric Guitar (jazz)</option>
                  <option value="28">28. Electric Guitar (clean)</option>
                  <option value="29">29. Electric Guitar (muted)</option>
                  <option value="30">30. Overdriven Guitar</option>
                  <option value="31">31. Distortion Guitar</option>
                  <option value="32">32. Guitar harmonics</option>
                  <option value="33">33. Acoustic Bass</option>
                  <option value="34">34. Electric Bass (finger)</option>
                  <option value="35">35. Electric Bass (pick)</option>
                  <option value="36">36. Fretless Bass</option>
                  <option value="37">37. Slap Bass 1</option>
                  <option value="38">38. Slap Bass 2</option>
                  <option value="39">39. Synth Bass 1</option>
                  <option value="40">40. Synth Bass 2</option>
                  <option value="41">41. Violin</option>
                  <option value="42">42. Viola</option>
                  <option value="43">43. Cello</option>
                  <option value="44">44. Contrabass</option>
                  <option value="45">45. Tremolo Strings</option>
                  <option value="46">46. Pizzicato Strings</option>
                  <option value="47">47. Orchestral Harp</option>
                  <option value="48">48. Timpani</option>
                  <option value="49">49. String Ensemble a</option>
                  <option value="50">50. String Ensemble b</option>
                  <option value="51">51. SynthStrings 1</option>
                  <option value="52">52. SynthStrings 2</option>
                  <option value="53">53. Choir Aahs</option>
                  <option value="54">54. Voice Oohs</option>
                  <option value="55">55. Synth Voice</option>
                  <option value="56">56. Orchestra Hit</option>
                  <option value="57">57. Trumpet</option>
                  <option value="58">58. Trombone</option>
                  <option value="59">59. Tuba</option>
                  <option value="60">60. Muted Trumpet</option>
                  <option value="61">61. French Horn</option>
                  <option value="62">62. Brass Section</option>
                  <option value="63">63. SynthBrass 1</option>
                  <option value="64">64. SynthBrass 2</option>
                  <option value="65">65. Soprano Sax</option>
                  <option value="66">66. Alto Sax</option>
                  <option value="67">67. Tenor Sax</option>
                  <option value="68">68. Baritone Sax</option>
                  <option value="69">69. Oboe</option>
                  <option value="70">70. English Horn</option>
                  <option value="71">71. Bassoon</option>
                  <option value="72">72. Clarinet</option>
                  <option value="73">73. Piccolo</option>
                  <option value="74">74. Flute</option>
                  <option value="75">75. Recorder</option>
                  <option value="76">76. Pan Flute</option>
                  <option value="77">77. Blown Bottle</option>
                  <option value="78">78. Shakuhachi</option>
                  <option value="79">79. Whistle</option>
                  <option value="80">80. Ocarina</option>
                  <option value="81">81. Lead 1 (square)</option>
                  <option value="82">82. Lead 2 (sawtooth)</option>
                  <option value="83">83. Lead 3 (calliope)</option>
                  <option value="84">84. Lead 4 (chiff)</option>
                  <option value="85">85. Lead 5 (charang)</option>
                  <option value="86">86. Lead 6 (voice)</option>
                  <option value="87">87. Lead 7 (fifths)</option>
                  <option value="88">88. Lead 8 (bass + lead)</option>
                  <option value="89">89. Pad 1 (new age)</option>
                  <option value="90">90. Pad 2 (warm)</option>
                  <option value="91">91. Pad 3 (poly synth)</option>
                  <option value="92">92. Pad 4 (choir)</option>
                  <option value="93">93. Pad 5 (bowed)</option>
                  <option value="94">94. Pad 6 (metallic)</option>
                  <option value="95">95. Pad 7 (halo)</option>
                  <option value="96">96. Pad 8 (sweep)</option>
                  <option value="97">97. FX 1 (rain)</option>
                  <option value="98">98. FX 2 (soundtrack)</option>
                  <option value="99">99. FX 3 (crystal)</option>
                  <option value="100">100. FX 4 (atmosphere)</option>
                  <option value="101">101. FX 5 (brightness)</option>
                  <option value="102">102. FX 6 (goblins)</option>
                  <option value="103">103. FX 7 (echoes)</option>
                  <option value="104">104. FX 8 (sci-fi)</option>
                  <option value="105">105. Sitar</option>
                  <option value="106">106. Banjo</option>
                  <option value="107">107. Shamisen</option>
                  <option value="108">108. Koto</option>
                  <option value="109">109. Kalimba</option>
                  <option value="110">110. Bag pipe</option>
                  <option value="111">111. Fiddle</option>
                  <option value="112">112. Shanai</option>
                  <option value="113">113. Tinkle Bell</option>
                  <option value="114">114. Agogo</option>
                  <option value="115">115. Steel Drums</option>
                  <option value="116">116. Woodblock</option>
                  <option value="117">117. Taiko Drum</option>
                  <option value="118">118. Melodic Tom</option>
                  <option value="119">119. Synth Drum</option>
                  <option value="120">120. Reverse Cymbal</option>
                  <option value="121">121. Guitar Fret Noise</option>
                  <option value="122">122. Breath Noise</option>
                  <option value="123">123. Seashore</option>
                  <option value="124">124. Bird Tweet</option>
                  <option value="125">125. Telephone Ring</option>
                  <option value="126">126. Helicopter</option>
                  <option value="127">127. Applause</option>
                  <option value="128">128. Gunshot</option>
                </select>
              </div>
            </div>
            <div class="field-group editContent">
              <div class="icon-field">
                <span class="fa fa-clock-o" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
              </div>
              <div class="wthree-field">
                <input name="duration" id="myInput" type="number" placeholder="Duration (Optional 1-3)">
              </div>
            </div>
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li align='center' style="font-size:11px;color:#8fe846;font-family: 'Open Sans', sans-serif;" class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="wthree-field">
              <button name="submit" type="submit" value='Submit' class="btn" style='background:#7d2c22;border-radius: 12px;'>Generate Music</button>
              <button type="button" onClick="MIDIjs.play('{% static "midi/music.midi" %}?v={{ random_number }}');" class='btn' style='background:white;color:black'><i class="fa fa-play"></i> Play</button>
              <button type="button" onClick="MIDIjs.stop();" %}');" class='btn' style='background:#222;border-radius:100%'><i class="fa fa-stop"></i> STOP</button>
            </div>
            <br>
            <ul class="list-login-bottom">
              <li class="">
                <a href='{% url 'instruments' %}' class="text-right editContent" style="outline: none; cursor: inherit;">
                  Instrument List
                </a>
              </li>

            </ul>
          </form>
          <br>
          <table class="table table-bordered table-hover table-condensed">
            <tbody>
              <tr>
                <td>1. Acoustic Grand Piano</td>
                <td>44. Contrabass</td>
                <td>87. Lead 7 (fifths)</td>
              </tr>
              <tr>
                <td>2. Bright Acoustic Piano</td>
                <td>45. Tremolo Strings</td>
                <td>88. Lead 8 (bass + lead)</td>
              </tr>
              <tr>
                <td>3. Electric Grand Piano</td>
                <td>46. Pizzicato Strings</td>
                <td>89. Pad 1 (new age)</td>
              </tr>
              <tr>
                <td>4. Honky-Tonk Piano</td>
                <td>47. Orchestral Harp</td>
                <td>90. Pad 2 (warm)</td>
              </tr>
              <tr>
                <td>5. Electric Piano 1</td>
                <td>48. Timpani</td>
                <td>91. Pad 3 (poly synth)</td>
              </tr>
              <tr>
                <td>6. Electric Piano 2</td>
                <td>49. String Ensemble a</td>
                <td>92. Pad 4 (choir)</td>
              </tr>
              <tr>
                <td>7. Harpsichord</td>
                <td>50. String Ensemble b</td>
                <td>93. Pad 5 (bowed)</td>
              </tr>
              <tr>
                <td>8. Clavi</td>
                <td>51. SynthStrings 1</td>
                <td>94. Pad 6 (metallic)</td>
              </tr>
              <tr>
                <td>9. Celesta</td>
                <td>52. SynthStrings 2</td>
                <td>95. Pad 7 (halo)</td>
              </tr>
              <tr>
                <td>10. Glockenspiel</td>
                <td>53. Choir Aahs</td>
                <td>96. Pad 8 (sweep)</td>
              </tr>
              <tr>
                <td>11. Music Box</td>
                <td>54. Voice Oohs</td>
                <td>97. FX 1 (rain)</td>
              </tr>
              <tr>
                <td>12. Vibraphone</td>
                <td>55. Synth Voice</td>
                <td>98. FX 2 (soundtrack)</td>
              </tr>
              <tr>
                <td>13. Marimba</td>
                <td>56. Orchestra Hit</td>
                <td>99. FX 3 (crystal)</td>
              </tr>
              <tr>
                <td>14. Xylophone</td>
                <td>57. Trumpet</td>
                <td>100. FX 4 (atmosphere)</td>
              </tr>
              <tr>
                <td>15. Tubular Bells</td>
                <td>58. Trombone</td>
                <td>101. FX 5 (brightness)</td>
              </tr>
              <tr>
                <td>16. Dulcimer</td>
                <td>59. Tuba</td>
                <td>102. FX 6 (goblins)</td>
              </tr>
              <tr>
                <td>17. Drawbar Organ</td>
                <td>60. Muted Trumpet</td>
                <td>103. FX 7 (echoes)</td>
              </tr>
              <tr>
                <td>18. Percussive Organ</td>
                <td>61. French Horn</td>
                <td>104. FX 8 (sci-fi)</td>
              </tr>
              <tr>
                <td>19. Rock Organ</td>
                <td>62. Brass Section</td>
                <td>105. Sitar</td>
              </tr>
              <tr>
                <td>20. Church Organ</td>
                <td>63. SynthBrass 1</td>
                <td>106. Banjo</td>
              </tr>
              <tr>
                <td>21. Reed Organ</td>
                <td>64. SynthBrass 2</td>
                <td>107. Shamisen</td>
              </tr>
              <tr>
                <td>22. Accordion</td>
                <td>65. Soprano Sax</td>
                <td>108. Koto</td>
              </tr>
              <tr>
                <td>23. Harmonica</td>
                <td>66. Alto Sax</td>
                <td>109. Kalimba</td>
              </tr>
              <tr>
                <td>24. Tango Accordion</td>
                <td>67. Tenor Sax</td>
                <td>110. Bag pipe</td>
              </tr>
              <tr>
                <td>25. Acoustic Guitar (nylon)</td>
                <td>68. Baritone Sax</td>
                <td>111. Fiddle</td>
              </tr>
              <tr>
                <td>26. Acoustic Guitar (steel)</td>
                <td>69. Oboe</td>
                <td>112. Shanai</td>
              </tr>
              <tr>
                <td>27. Electric Guitar (jazz)</td>
                <td>70. English Horn</td>
                <td>113. Tinkle Bell</td>
              </tr>
              <tr>
                <td>28. Electric Guitar (clean)</td>
                <td>71. Bassoon</td>
                <td>114. Agogo</td>
              </tr>
              <tr>
                <td>29. Electric Guitar (muted)</td>
                <td>72. Clarinet</td>
                <td>115. Steel Drums</td>
              </tr>
              <tr>
                <td>30. Overdriven Guitar</td>
                <td>73. Piccolo</td>
                <td>116. Woodblock</td>
              </tr>
              <tr>
                <td>31. Distortion Guitar</td>
                <td>74. Flute</td>
                <td>117. Taiko Drum</td>
              </tr>
              <tr>
                <td>32. Guitar harmonics</td>
                <td>75. Recorder</td>
                <td>118. Melodic Tom</td>
              </tr>
              <tr>
                <td>33. Acoustic Bass</td>
                <td>76. Pan Flute</td>
                <td>119. Synth Drum</td>
              </tr>
              <tr>
                <td>34. Electric Bass (finger)</td>
                <td>77. Blown Bottle</td>
                <td>120. Reverse Cymbal</td>
              </tr>
              <tr>
                <td>35. Electric Bass (pick)</td>
                <td>78. Shakuhachi</td>
                <td>121. Guitar Fret Noise</td>
              </tr>
              <tr>
                <td>36. Fretless Bass</td>
                <td>79. Whistle</td>
                <td>122. Breath Noise</td>
              </tr>
              <tr>
                <td>37. Slap Bass 1</td>
                <td>80. Ocarina</td>
                <td>123. Seashore</td>
              </tr>
              <tr>
                <td>38. Slap Bass 2</td>
                <td>81. Lead 1 (square)</td>
                <td>124. Bird Tweet</td>
              </tr>
              <tr>
                <td>39. Synth Bass 1</td>
                <td>82. Lead 2 (sawtooth)</td>
                <td>125. Telephone Ring</td>
              </tr>
              <tr>
                <td>40. Synth Bass 2</td>
                <td>83. Lead 3 (calliope)</td>
                <td>126. Helicopter</td>
              </tr>
              <tr>
                <td>41. Violin</td>
                <td>84. Lead 4 (chiff)</td>
                <td>127. Applause</td>
              </tr>
              <tr>
                <td>42. Viola</td>
                <td>85. Lead 5 (charang)</td>
                <td>128. Gunshot</td>
              </tr>
              <tr>
                <td>43. Cello</td>
                <td>86. Lead 6 (voice)</td>
                <td> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="bottom-grid1 transparent">
        <div class="links">
          <ul class="links-unordered-list">
            <li class="">
              <a href='{% url 'references' %}' class="editContent" style="outline: none; cursor: inherit;">
                References
              </a>
            </li>


          </ul>
        </div>
        <div class="copyright">
          <p>Design inspired by
            <a href="http://w3layouts.com">W3layouts</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>



{% endblock content %}
